{% extends 'base.html' %}


{% block content %}
<div class="row mt-3">
    <div class="col col-md-2">
        <!-- category -->
        <div class="accordion" id="category_list">
            {% for category in categories %}
                {% include 'post/part_category_list.html' %}
            {% endfor %}
        </div>

    </div>
    <div class="col-10 col-md-8">
        <!-- list -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>created</th>
                <th>updated</th>
                {% if user.is_authenticated %}
                <th>update</th>
                <th>delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td><a href="">{{object.title}}</a></td>
                <td>{{object.created}}</td>
                <td>{{object.updated}}</td>
                {% if user.is_authenticated %}
                <th><a href="">update</a></th>
                <th><a href="">delete</a></th>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>


        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}